.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    padding-left:50px;
    padding-right:50px;
}

h1 {
    margin: 0;
    font-family: cursive;
    font-weight: 100;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    margin-top: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}

h3 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    opacity: 0.8;
    text-decoration: underline red 1px;
    margin-left: 15px;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    margin-bottom: 10px;
}