.flex-container {
    display: flex;
    flex-direction: row;
}

.contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.gallery {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.icon-container {
    margin-top: 5px;
}

.image-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.image-hover {
    position: absolute;
    top: 0;
    bottom: 14px;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

img {
    width: 100%;
}